@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 5.88% 10%; 

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%; 
    --popover-foreground: 240 5.88% 10%; 

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%; 
    --card-foreground: 240 5.88% 10%;

    --primary: 240 5.88% 10%; 
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 240 5.88% 10%; 

    --accent: 210 40% 96.1%;
    --accent-foreground: 240 5.88% 10%; 

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 5.88% 10%; 
    --foreground: 0 0% 100%; 

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 240 5.88% 10%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 240 5.88% 10%;
    --card-foreground: 240 5.03% 64.9%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@media (min-width: 1024px){
.scrollbar::-webkit-scrollbar {
    width: 16px;
}

.scrollbar::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a1a1aa;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d4d4d8;
}

.dark .scrollbar::-webkit-scrollbar-thumb {
  background-color: #71717a;
}

.dark .scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1aa;
}
}