main {
  @apply flex
      w-full
      flex-col;

  hr {
    @apply my-4
        w-full
        border-t
        border-t-neutral-200
        bg-white
        dark:border-t-neutral-900 dark:bg-neutral-950 md:my-8;
  }

  h1 {
    @apply mt-2 scroll-m-20 text-4xl font-bold tracking-tight;
  }

  h2 {
    @apply mt-10 scroll-m-20 border-b pb-1 text-3xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply mt-8 scroll-m-20 text-xl font-semibold tracking-tight;
  }
  h5 {
    @apply mt-8 scroll-m-20 text-lg font-semibold tracking-tight;
  }
  h6 {
    @apply mt-8 scroll-m-20 text-base font-semibold tracking-tight;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    @apply text-neutral-900
        dark:text-white;
  }

  code {
    @apply relative
        rounded
        px-3 py-2 font-mono text-sm text-neutral-900 dark:bg-neutral-900 dark:text-white;
  }

  p {
    @apply leading-7 text-neutral-900 dark:text-white [&:not(:first-child)]:mt-6;
  }

  ul {
    @apply my-6 ml-6 list-disc leading-6 text-neutral-900 dark:text-white;

    li div:has(> pre) {
      @apply !mt-2;
    }
  }

  ol {
    @apply my-6 ml-6 list-decimal leading-6 text-neutral-900 dark:text-white;

    li div:has(> pre) {
      @apply !mt-2;
    }
  }

  table {
    @apply mb-1
        w-full
        border-separate
        border-spacing-0
        rounded
        border
        border-neutral-200
        text-left
        text-sm
        dark:border-neutral-800;

    th,
    td {
      @apply border
          border-neutral-200
          text-neutral-900
          dark:border-neutral-800
          dark:text-white
          xs:block
          xs:border-l-0;

      > a {
        @apply pr-2;
      }
    }

    th {
      @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
    }
    td {
      @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
    }

    th {
      @apply font-semibold;
    }

    tr:last-child td {
      @apply sm:border-b-0;

      &:last-child {
        @apply xs:border-b-0;
      }
    }

    td:first-child,
    th:first-child {
      @apply sm:border-l-0;
    }
  }
}
